* {
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 16px;

    margin: 0;
    padding: 0;
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
}

.page-popup {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-normal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: .25rem;
    align-items: flex-start;
    justify-content: center;
}

.container-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    /*max-width: 32rem;*/
    max-width: 23rem; /* Сигурно ли е че в презентацията е вярно? */
    background-color: white;
    border-radius: 5px;
    padding: 2.5rem;

    margin: 1rem;
}


.container-profile {
    width: 100%;
    max-width: 18rem;
    margin: .25rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
}

.img-profile {
    margin: .5rem;
    max-width: 40%;
}

.profile-footer {
    margin-top: 1.5rem;
}

.bgblock {
    background-color: #f6f7fd;
    /*padding-top: .5rem;*/
    width: 100%;

}

.stats-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.newpost-block {
    display: flex;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    width: auto;
}

.input-button {
    display: inline;
    position: relative;
    right: 2.5rem;
    border: none;
    text-decoration: none;
    background: transparent;
    color: #54bdd6;

    cursor: pointer;
}

.flex-form {
    display: flex;
    align-items: stretch;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.stats div {
    padding: 1rem;
}

.container-posts {
    width: 90%;
    max-width: 55rem;
    margin: .25rem;
    background-color: white;
    /*padding: 2.5rem;*/
}


.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    margin: 0;
    font-weight: normal;
}

h2 {
    color: #848694;
    font-weight: normal;

}

.textfield {
    outline: none;
    border: none;
    border-bottom: 2px solid #848694;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: border .3s;
    display: block;
}

.textfield:focus, .textfield:active {
    border: none;
    border-bottom: 2px solid purple;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: left;
}

.post {
    border-top: 1px solid #ebeefd;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.post a {
    color: inherit;
    text-decoration: none;
}

.post .author {
    display: inline;
    font-size: inherit;
    font-weight: bold;
}

.post .post-content {
    margin: 0;
    padding: 0;
}

.post .post-time {
    color: #848693;
}

.post-data {
    width: 100%;
}

.post-heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.media-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    font-style: normal;
}

.media-button {
    margin-right: 3rem;
}

.img-circle {
    border-radius: 100%;

}

.post-img {
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 1rem;
}

.newpost-img {
    width: 2rem;
    height: 2rem;
}

.container-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 10rem;

    margin-left: auto;
}

a.nav-link {
    text-decoration: none;
}


/*.textfield {*/
/*    outline: none;*/
/*    border: none;*/
/*    border-bottom: 2px solid #848694;*/
/*    width: 100%;*/
/*    margin-top: 1rem;*/
/*    margin-bottom: 1rem;*/
/*    padding-top: 0.5rem;*/
/*    padding-bottom: 0.5rem;*/
/*    transition: border .3s;*/
/*    display: block;*/
/*}*/

/*.textfield:focus, .textfield:active {*/
/*    border: none;*/
/*    border-bottom: 2px solid purple;*/
/*}*/

.fullwidth {
    width: 100%;
}


.radius-field {
    display: block;
    outline: none;

    margin: .25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: white;
    color: #54bdd6;
    border: 2px solid #ebeefd;
    border-radius: 1rem;
    padding-left: 1rem;
}

.radius-field::placeholder {
    color: #54bdd6;
}

.btn {
    width: 100%;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.btn-bg {
    border: none;
    color: white;
    background-color: #54bdd6;
}

.btn-fg {
    background-color: white;
    color: #54bdd6;
    border: 2px solid #54bdd6;
}

.stat-header {
    font-weight: bold;
    color: #848693;
}

.stat-value {
    font-weight: bold;
    font-size: larger;
    color: #54bdd6;
}