#red {
    margin-top: 300px;
    margin-left: 400px;
}

#silver {
    margin-top: 350px;
    margin-left: 450px;
}

#green {
    right: 0;
    top: 100px;

    position: fixed;

}

#blue {

}

#yellow {

}

